*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 1, 12);
    font-family: "Outfit", sans-serif;
    color: white;
}
.head{
    color: white ;
    font-size: 50px;
    font-weight: 200px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
    
}
.head span{
    color: rgb(13, 19, 71);
    font-size: 60px;
    font-weight: 200px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}
.line{
    color: rgb(177, 202, 223);
    text-align: center;
    font-size: 20px;
}
.image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.image1{
    width: 200px; 
    height: 120px;
    background-color: rgb(3, 3, 24);
    border-radius: 3%;
    margin-top: 20px;
    padding:  90px;

}
.image1 p{
     color: rgb(177, 202, 223);
     margin-top: 15px;
     text-align: center;
     font-size: 20px;
}
.image2{
    width: 200px; 
    height: 120px;
    background-color: rgb(3, 3, 24);
    border-radius: 3%;
    margin-top: 20px;
    padding:  90px;

}
.image2 p{
     color: rgb(177, 202, 223);
     margin-top: 15px;
     text-align: center;
     font-size: 20px;
}
.image3{
    width: 200px; 
    height: 120px;
    background-color: rgb(3, 3, 24);
    margin-top: 20px;
    padding:  90px;
    border-radius: 3%; 
    
}
.image3 p{
     color: rgb(177, 202, 223);
     margin-top: 15px;
     text-align: center;
     font-size: 20px;
}
.cyber{
    width: 220px;
    height: 150px;
    border-radius: 2%;

  
}
.react{
    width: 220px;
    height: 150px;
    border-radius: 2%;
   
    
}
.project{
    width: 220px;
    height: 150px;
    border-radius: 2%;
    
}
.end{
    color: rgb(177, 202, 223);
    margin-top: 250px;
    text-align: center;
    margin-bottom: 30px;

}
