*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 1, 12);
    font-family: "Outfit", sans-serif;
    color: white;
}
.head1{
    color: rgb(13, 19, 71);
    font-size: 70px;
    font-weight: 200px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 40px;
}
.line{
    color: rgb(177, 202, 223);
    font-size: 19px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.box1{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 60px;
     width: 220px;
     border-radius: 20px;
     margin-top: 90px;
     text-align: center;
     padding: 70px;
}
.box2{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 60px;
     width: 220px;
     border-radius: 20px;
     margin-top: 90px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.mid{
    color: rgb(177, 202, 223);
    text-align: center;
    margin: 50px;
    padding: 80px;
    font-size: 23px;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;

}
.link{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 40px;
     width: 180px;
     border-radius: 20px;
     margin-top: 10px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.git{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 40px;
     width: 180px;
     border-radius: 20px;
     margin-top: 10px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.behance{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 40px;
     width: 180px;
     border-radius: 20px;
     margin-top: 10px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.boxes2{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.insta{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 40px;
     width: 180px;
     border-radius: 20px;
     margin-top: 15px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.facebook{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 40px;
     width: 180px;
     border-radius: 20px;
     margin-top: 15px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.tiktok{
    background-color: rgb(3, 3, 24);
     color: rgb(177, 202, 223);
     height: 40px;
     width: 180px;
     border-radius: 20px;
     margin-top: 15px;
     text-align: center;
     padding: 70px;
     margin-left: 20px;
}
.end{
    color: rgb(177, 202, 223);
    margin-top: 250px;
    text-align: center;
    margin-bottom: 30px;

}


