*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 1, 12);
    font-family: "Outfit", sans-serif;
    color: white;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(1, 1, 27);
    transition: 0.3s ease;   
    border-bottom: 3px solid transparent;
}
nav:hover{
    color: rgb(73, 73, 167);
    border-bottom: 3px solid rgb(73, 73, 167);

}
nav a:hover{
    color: rgb(73, 73, 167);
    border-bottom: 3px solid rgb(73, 73, 167);
}
a:-webkit-any-link {
  
    cursor: pointer;
    text-decoration: none;
}
.left{
    font-size: 27px;
}
ul{
    display: flex;
   
}
li{
list-style: none;
 margin: 0 13px;
    padding: 24px;
    font-size: 23px;
    color: rgb(177, 202, 223);
    text-decoration: none;
 
}

.main{
    display: flex;
    justify-content: space-between;
     color: rgb(13, 19, 71);
}
.body{
    margin: 35px;
    padding: 47px;
    font-size: 45px;
}
.body h2 span{
    color: rgb(13, 19, 71);
}
.image{
    min-width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 200px;
    margin-top: 120px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paragraph p{
    font-size: 18px;
    align-items: center;
    color: rgb(177, 202, 223);

}

.tech{
    color: rgb(13, 19, 71);
    font-size: 50px;
    font-weight: 150px;
    text-align: center;
    margin-bottom: 40px;
}
.info{
display: flex;
justify-content: center;
align-items: center;
}
.mobile{
    background-color:rgb(3, 3, 24) ;
    width: 250px;
    height: 320px;
    justify-content: center;
    align-items: center;
   margin-left: 70px;
   border-radius: 25px;
}
.mobile h1{
    margin: 23px;
    padding: 10px;
font-size: 20px;
text-align: center;
}
.mobile p{
    text-align: center;
    gap: 10px;
    margin: 10px;
    color: rgb(177, 202, 223);
}
.web{
     background-color:rgb(3, 3, 24) ;
    width: 250px;
    height: 320px;
    justify-content: center;
    align-items: center;
   margin-left: 70px;
   border-radius: 25px;
}
.web h1{
    margin: 25px;
    padding: 10px;
font-size: 20px;
text-align: center;
}
.web p{
    text-align: center;
    gap: 10px;
    margin: 10px;
    color: rgb(177, 202, 223);
}
.tool{
     background-color:rgb(3, 3, 24) ;
    width: 250px;
    height: 320px;
    justify-content: center;
    align-items: center;
   margin-left: 70px;
   border-radius: 25px;
}
.tool h1{
    margin: 25px;
    padding: 10px;
font-size: 20px;
text-align: center;
}
.tool p{
    text-align: center;
    gap: 10px;
    margin: 10px;
    color: rgb(177, 202, 223);
}

.box{
    background-color: rgb(3, 3, 24);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    color: rgb(57, 57, 148);
    padding: 30px;
    width: 80%;
    margin: 70px auto;
}


.box1{
 padding: 0px;
 text-align: center;

}
.box2 {
    text-align: center;
    font-weight: 100;
}
.box3{
    text-align: center;
}
.box p{
    color: rgb(177, 202, 223);
    margin-bottom: 20px;
    
}
.box li{
    font-size: 40px;
}


.buttons {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.btn.primary {
  background: #090a50;
  color:rgb(177, 202, 223) ;
  justify-content: center;
  align-items: center;
}

.btn.secondary {
  border: 2px solid rgb(177, 202, 223) ;
  color: rgb(177, 202, 223);
  justify-content: center;
  align-items: center;
}
  